<div class="container text-center">
  <h1 class="titleBold">DanceMatch</h1>
  <p>We are DanceMatch. A community for teachers, dancers, and dance hopefuls to meet.</p>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
</div>
